* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Old English Text MT', cursive;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff8f0;
  color: #2c1c0c;
  text-align: center;
}

/* Portada */
#portada {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/portada.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Botón barroco */
.boton-barroque {
  font-size: 5vw;
  padding: 2vh 4vw;
  background: black;
  color: gold;
  border: 3px solid gold;
  border-radius: 12px;
  box-shadow: 0 0 10px gold;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 5vh;
  text-decoration: none;
  display: inline-block;
}
.boton-barroque:hover {
  transform: scale(1.05);
}

/* Salón barroque */
#experiencia {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/salon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pregunta {
  margin-top: 20vh;
}

.menu-barroque {
  font-size: 5vw;
  border: 2px solid gold;
  background-color: #fff8f0;
  color: #2c1c0c;
  padding: 1vh 2vw;
  margin: 1vh;
}

#composicion {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100vw;
  height: 100vh;
}

.mensaje-compartir {
  font-size: 3.5vw;
  color: white;
  text-shadow: 0 0 5px black;
  margin: 2vh;
}
